    <div *ngIf="searchService.movies" style="margin-top: 20px;">
        <h1 *ngIf="!searchService.movies">Search result</h1>
        <div class="movieList">
            <div *ngFor="let item of searchService.movies | slice:0:10" class="movieCard">
              <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" routerLink="/moviedetails/{{item.id}}" alt="">
              <h3>{{item.title}}</h3>
              
            </div>
        </div>
    </div>


  <div [class.hidden]="searchService.movies.length > 0">
      <h1>Movies</h1>
      <div class="movieList">
          <div *ngFor="let item of movies | slice:0:10" class="movieCard">
            <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" routerLink="/moviedetails/{{item.id}}" alt="">
            <h3>{{item.title}}</h3>
            
          </div>
      </div>
      
  </div>
  